@page "/armyList"
@using BattleBuddy.WebApp.Services
@using BattleBuddy.WebApp.Services.SignalR
@using BattleBuddy.WebApp.StateContainers
@inject ArmyListService ArmyListService
@inject SignalRMessageFactory MessageFactory
@inject SignalRMessagingService MessagingService
@inject Game Game

<div class="d-flex flex-column">
    <div>ArmyList
        <div class="btn btn-secondary" style="float:right" @onclick="Initialize"><span>swap</span></div>
        <div class="btn btn-secondary" style="float:right" @onclick="UpdateLists"><span>Reload</span></div>
    </div>
    
    @foreach (var entry in Entries)
    {
        <div class="btn btn-primary mt-1" @onclick="() => ScrollToEntry(entry.Id)">
            <span>@entry.Name</span>
        </div>
    }
</div>

@code {
    private List<ArmyListEntryDto> Entries { get; set; } = new();

    protected override void OnInitialized()
    {
        Entries = ArmyListService.GetArmyListEntries();
        MessagingService.Initialize();
        MessagingService.SubscribeToMessage("ReloadArmyLists", () =>
        {
            InvokeAsync(StateHasChanged);
        });
        base.OnInitialized();
    }

    async Task ScrollToEntry(Guid id)
    {
        var message = MessageFactory.CreateScrollToArmyListEntryMessage(id);
        await MessagingService.SendMessage(message);
    }

    async Task Initialize()
    {
        await MessagingService.SendMessage(MessageFactory.CreateInitializeMessage());
    }

    async Task UpdateLists()
    {
        await MessagingService.SendMessage(MessageFactory.CreateRequestListUpdateMessage());
    }
}
