@page "/armyList"
@using BattleBuddy.WebApp.Services
@inject ArmyListService ArmyListService



<div class="d-flex flex-column">
    <div>ArmyList<div class="btn btn-secondary" style="float:right"><span>swap</span></div></div>

    @foreach (var entry in Entries)
    {
        <div class="btn btn-primary mt-1">
            <span>@entry.Name</span>
        </div>
    }
</div>

@code {
    private List<ArmyListEntryDto> Entries { get; set; } = new();

    protected override void OnInitialized()
    {
        Entries = ArmyListService.GetArmyListEntries();
        base.OnInitialized();
    }

}
